/* .choice{
    display: none;
} */
.header {
    text-align: center;
}
form {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}
.player{
    border: 1px black solid;
    height: 185px;
    width: 185px;
    margin: 15px;
    float: left;
}
  
.name {
    font-weight: bold;
}

.choice-1 {
    color: red;
}

.choice-1:hover {
    color: blue;
}
.choice-2 {
    color: blue;
}

.choice-2:hover {
    color: red;
}

p {
    margin: 5px;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.explanation {
    width: 500px;
}